<form [formGroup]="loginForm">
  <p *ngIf="invalidPassword" class="loginform-error">Incorrect password</p>
  <p *ngIf="isUserInvalid" class="loginform-error">User Invalid</p>
  <p *ngIf="isInternalServerErr" class="loginform-error">Internal server error, please try again later</p>
  <div class="form-control">
    <label>
      Email Address:
    </label>
    <input type="email" formControlName="email" required/>
    <div *ngIf="loginForm.controls.email.invalid">
      <div *ngIf="loginForm.controls.email.errors.required && (loginForm.controls.email.dirty || loginForm.controls.email.touched || isSubmitted)" class="alert">
        Email is required.
      </div>
      <div *ngIf="loginForm.controls.email.errors.email && (loginForm.controls.email.dirty || loginForm.controls.email.touched || isSubmitted)" class="alert">
        Incorrect email address
      </div>
    </div>
  </div>

  <div class="form-control">
    <label>
      Password:
    </label>
    <input id="login_password" type="password" formControlName="password" required/>
    <!-- <input type="checkbox" (click)="showPassword()"><span>Show Password</span> -->
    <div *ngIf="loginForm.controls.password.invalid">
      <div *ngIf="loginForm.controls.password.errors.required && (loginForm.controls.password.dirty || loginForm.controls.password.touched || isSubmitted)" class="alert">
        Password is required.
      </div>
    </div>
  </div>

  <button class="login-button" type="submit" (click)="login()">Login</button>
  <a class="signup-forgotPassword-link" routerLink="">Forgot Password</a>
  <p>Do not have an account? Please <a class="signup-forgotPassword-link" (click)="navigateToSignup()">signup</a></p>
</form>
