label {
  display: block;
  width: 8em;
  margin-bottom: 5px;
  color: #607d8b;
  font-weight: bold;
}

.login-button {
  background-color: #007c91;
  color: #fff;
  margin-right: 10px;
}
.signup-forgotPassword-link {
  color: #006a7c;
}
.alert {
  padding: 5px;
  background-color: #fff;
  color: #b0181e;
  width: 197px;
}
.form-control {
  margin-bottom: 10px;
}
.loginform-incorrect {
  color: #b0181e;
}

/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
