:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: block;
  width: 8em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}

/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
