/* ProfileEditorComponent's private CSS styles */

label {
  display: block;
  width: 10em;
  margin-bottom: 5px;
  color: #607d8b;
  font-weight: bold;
}

.alert {
  padding: 5px;
  background-color: #fff;
  color: #b0181e;
}
.signup-button {
  background-color: #007c91;
  color: #fff;
  margin-right: 10px;
}
.signup-button:hover {
  background-color: #006a7c;
}
.goBack-to-login-link {
  color: #006a7c;
}
.form-control {
  margin-bottom: 10px;
}
.signupform-error {
  color: #b0181e;
}
/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
