/* You can add global styles to this file, and also import other style files */
/* Global Styles */
h1 {
  color: #369;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-weight: lighter;
}
body,
html,
input {
  font-family: ProximaNova-regular;
}
body {
  margin: 2em;
}
input {
  height: 36px;
  width: 50%;
  border: 1px solid #007c91;
  border-radius: 5px;
  padding: 5px 10px;
  color: #003b4c;
  background-color: transparent;
}
input:focus {
  outline: none !important;
  border: 3px solid #007c91;
}
button {
  background-color: transparent;
  border: 1px solid #006a7c;
  border-radius: 5px;
  color: #006a7c;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  margin: 0 1px;
  padding: 0 16px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}

@font-face {
  font-family: 'ProximaNova-regular';
  src: url('https://dle-cdn.mheducation.com/mhe/fonts/proxima-nova/proxima-nova-regular.woff');
}

/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
